/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/earlyaccess/lohitdevanagari.css);
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/************* Custom CSS for Project ************/

body *
{
    
    font-family: 'Slabo 27px', 'Lohit Devanagari', serif!important;
}

.button
{
    font-size: 1.5rem !important;
}
.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;
    padding: 12px 0 12px 0;
    padding-left: 0.9375rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem !important;
    font-weight: normal;
    text-transform: none;
}

.homepage
{
    background: url(../img/stars.svg) #de3427;
    text-align: left;
    position: relative;
    /*padding: 100px 20px 0 20px;*/
    padding-bottom: 60px;
}

.homepage h1
{
    font-size: 2.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

.homepage-upper
{
    margin-top: 70px;
}

#aipa-text
{
    margin-top: 50px;
}   

.homepage h2
{
    font-size: 2.5em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari', serif!important;
    margin-bottom: 0;
}

.homepage p
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#about-smvdu
{
    background:#2980b9;
    padding: 60px;
    text-align: center
}

#about-aipa
{
    background:#00BCC9;
    padding: 60px;
    text-align: center;
}

.aipa-members
{
    color: #fff;
    font-size: 1em;
    text-align: left;
}

#aipa-member-2
{
    margin-top: 50px;
}

#about-aipa .aipa-member-title
{
    color: #000;
}

#about-smvdu h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#about-smvdu p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    text-align: justify;
    padding-bottom: 20px;
}

#about-aipa h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#session
{
    background: #0A708C;
    padding: 60px;
    text-align: center;
}

#session h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#session h2
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#session h3
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 50px;
}

#about-aipa p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari','Slabo 27px', serif!important;
    margin-bottom: 0;
    text-align: justify;
}

#session p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari','Slabo 27px', serif!important;
    margin-bottom: 0;
    text-align: justify;
}

#session li p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari','Slabo 27px', serif!important;
    margin-bottom: 0;
    text-align: justify;
}

#topics
{
    margin-left: 100px;
}



#session ul li
{
    color:  #fff;
}

#session ul li p
{
    color:  #fff;
    text-align: left;
}

#session table
{
    background-color: inherit;
    border: 0!important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#session table td
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Lohit Devanagari', serif!important;
}

#session table tr.even, #session table tr.alt,#session table tr:nth-of-type(even)
{
    background:#0A708C!important;
}

#theme
{
    background: #255E9B;
    padding: 60px;
    text-align: center;
}


#navcontainer ul li 
{
    display: inline;
}

#theme h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#theme h2
{
    font-size:1.6em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari', serif!important;
    margin-bottom: 0;
    text-align: center;
}

#theme h4
{
    font-size:1.5em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari', serif!important;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
}


#theme p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari', 'Slabo 27px' serif!important;
    margin-bottom: 0;
    text-align: justify;
}

#theme li 
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    font-family: 'Lohit Devanagari', 'Slabo 27px' serif!important;
    margin-bottom: 0;
    text-align: justify;
}

#theme ul
{
    
}
#theme ul li
{
    color:  #fff;
    text-align: left;
}

#theme table
{
    background-color: inherit;
    border: 0!important;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#theme table td
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Lohit Devanagari', serif!important;
}

#theme table tr.even,#theme table tr.alt,#theme table tr:nth-of-type(even)
{
    background:#255E9B!important;
}

#main-theme
{
    padding-top: 50px;
}

#second-theme
{
    padding-top: 50px;
}

#third-theme
{
    padding-top: 50px;
}

#international-theme
{
    padding-top: 50px;
}

#registration
{
    background: #2980b9;
    padding: 60px;
    text-align: center;
    color: #fff;
}

#registration form
{
    text-align: left;
}
#registration h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#registration .amount
{
    padding-top: 50px;
}

#registration label
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
}

#registration ul li
{
    font-size: 1.1em;
    color: #fff;
}

.no-bullets li
{
    list-style-type: none;
}

#registration p
{
    font-size: 1.1em;
    color: #fff;
}

#registration #offline
{
    padding-top: 50px;
}

#registration #online
{
    padding-top: 50px;
}

#contact
{
    background: #0FBF9A;
    height: auto;
    padding-top: 50px;
}

#contact p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#contact h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#contact h3
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

#contact ul li
{
    font-size: 1.3em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    list-style-type: none;
}

#contact pre
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#how-to-reach
{
    background: #3498db;
    height: auto;
    padding-top: 50px;
}

#how-to-reach p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#how-to-reach ul li
{
    color: #fff;
}

#how-to-reach h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

#contact
{
    background: #0FBF9A;
    height: auto;
    padding-top: 50px;
}

#contact p
{
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    text-align: left;
}

#contact h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}


.mail a:link
{
    color: #fff;
}

.iframe
{
    border: 3px solid black;
}

#gallery
{
    background-color: #3498db;
    padding-top: 50px;
}

#gallery h1
{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
}

footer 
{
    text-align: center;
    padding-top: 15px;
    background-color: #333333;
    color: #fff;
}
